<!-- BEGIN of welcome#index's view -->
<div class="container">

<!-- PICTURE OF ME HERE -->
<%= image_tag("square-profile-pic.png", alt: "picture of Charlie.",
  title: "used the deep learning painter to turn my picture into art :D",
  class: "img-circle block-center") %>

<h1>Montserrat</h1>
<p>
  I am developer developing and a student studying.  :)
</p>

</div>
