/* I'm choosing a sans-serif + serif font, aka the most common one, from
 * [http://fontpair.co/]. I like Monteserrat + Cardo. It seems kinda loose then
 * formal.
 */

// Montserrat font
@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Black.ttf') format('truetype');
  font-weight:bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100; //IDK What to put...
  font-style: normal;
}

// Cardo font
@font-face {
  font-family: 'Cardo';
  src: url('cardo/Cardo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cardo';
  src: url('cardo/Cardo-Black.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Cardo';
  src: url('cardo/Cardo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cardo';
  src: url('cardo/Cardo-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Cardo';
  src: url('cardo/Cardo-Thin.ttf') format('truetype');
  font-weight: 100; //IDK What to put...
  font-style: normal;
}
